# unit60 board configuration

# Copyright (c) 2025 Eason
# SPDX-License-Identifier: MIT

config BOARD_UNIT60
    select SOC_NRF52840_QIAA
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE

# 本地 rgbled_widget 配置选项（已适配 ph-design/zmks 分支）
rsource "rgbled_widget/Kconfig"
